<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ui>
        <li><a href="/">홈</a></li>
        <li><a href="/member/login">로그인</a></li>
        <li><a href="/board">게시판</a></li>
    </ui>

    {% if board_list %}
        {% for board in board_list %}
            <a href="/board/{{board.id}}"><h3>{{board.title}}</h3></a>
        {% endfor %}
    {% endif %}

    <a href="/board/save">게시글 작성</a>
</body>
</html>