<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ui></ui>
        <li><a href="/">홈</a></li>
        <li><a href="/member/login">로그인</a></li>
        <li><a href="/board">게시판</a></li>
    </ui>

    <form action="/board/post/" method="post">
        <input type="text" name="title" placeholder="제목"/><br/>
        <textarea style="width: 180px; height: 150px;" name="content" placeholder="내용"></textarea><br/>
        <input type="submit" value="제출"/>
    </form>
</body>
</html>